.profileBar{
    width: 340px;
    padding: 60px 0;
    background-color: white;
    height: 100vh;
    position: fixed;
}
.profileBar ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.prof-links{
    padding-bottom: 5px;
    width: 100%;
}
.prof-links:hover{
    
    color: #004c45;
}
.profileBar ul li{
    padding: 15px 20px;
    border-bottom:solid 1px #ececec;
    transition: 0.3s ease-in-out;
    width: 100%;
}
.profileBar ul li:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding-left: 40px;
}