.custom-breadcrumbs{
    /* border-bottom: solid #dadada 2px; */
    padding: 90px 20px;
}
.CEO{
    margin-top: 100px;
    padding: 60px;
    background-color: #f1f1f1;
    border-radius: 20px;
}
.riding-cart div p{
    font-size: 12px;
}
